.total {
  font-size:24px;
}
.list {
  list-style-type: none;
}
.list_item {
  border:1px solid black;
  height: 165px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
}
.list_item.even {
  background-color: silver;
}
.list_item.odd {
  background-color: white;
}
.avatar {
  width:150px;
  height:150px;
  float:left;
}
.title {
  font-size:20px;
}
.description {
  font-size:18px;
}
