<li
[ngClass]="{'even': (i % 2 === 0), 'odd': (i % 2 !== 0)}"
class="list_item"
appFade
*ngFor="let result of searchResults.items; index as i">
  <a [href]="result.html_url">
    <img class="avatar" [src]="result.owner.avatar_url" />
    <h4 class="title">{{result.name | favoriteText:checkFavorite(result)}}
      <small> by {{result.owner.login | uppercase}}</small>
    </h4>
  </a>
  <span class="favorite_icon" *ngIf="!checkFavorite(result)" (click)="toggleFavorite(result)">&#9734;</span>
  <span class='favorite_icon favorited' *ngIf="checkFavorite(result)" (click)="toggleFavorite(result)">&#9733;</span>
  <p class="description">{{result.description}}</p>
  <p> Created On: {{result.created_at | date:'fullDate'}} </p>
</li>
