.list_item {
  border:1px solid black;
  height: 165px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
}
.list_item.even {
  background-color: springgreen;
}
.list_item.odd {
  background-color: palegreen;
}
.avatar {
  width:150px;
  height:150px;
  float:left;
}
.description {
  font-size:18px;
}
